body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #2c2c2c !important; /* Dark gray background */
    color: white !important; /* White text color */
}

header {
    background: #00103a !important;
    color: #fff !important;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #2c2c2c !important;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #2c2c2c !important;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer {
    background: #333 !important;
    color: #fff !important;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}

.navbar, .navbar-light, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    background-color: #2c2c2c !important; /* Darker gray background for navbar */
    color: white !important; /* White text color for navbar links */
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
    color: #8A9A5B !important; /* Optional: Yellow color on hover */
}

.jumbotron {
    background-color: #333333 !important; /* Slightly lighter gray for jumbotron */
    color: white !important; /* White text color for jumbotron */
}

footer {
    background-color: #1a1a1a !important; /* Darker gray background for footer */
    color: white !important; /* White text color for footer */
    text-align: center;
    padding: 10px 0;
}

a.btn-primary {
    background-color: #8A9A5B !important; /* Yellow button background */
    border-color: #8A9A5B !important; /* Yellow button border */
    color: #001f3f !important; /* Dark blue text color for buttons */
}

a.btn-primary:hover {
    background-color: #8A9A5B !important; /* Darker yellow on hover */
    border-color: #8A9A5B !important; /* Darker yellow border on hover */
    color: #001f3f !important; /* Dark blue text color for buttons */
}

/* Add these specific selectors to override Bootstrap's default styles */
.navbar.navbar-light.bg-light {
    background-color: #1a1a1a !important;
}

.navbar-light .navbar-toggler {
    background-color: #8A9A5B !important;
    border-color: #8A9A5B !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}